@import url('https://fonts.googleapis.com/css2?family=Catamaran:wght@500&family=Great+Vibes&family=Montserrat+Alternates:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    background: #EEEEEE;
    font-family: 'Montserrat Alternates', sans-serif;
    font-weight: 300;
    color: #537188;
    text-align: center;
}

#page-container {
    position: relative;
    min-height: 100vh;
}

#content-wrap {
    padding-top: 10rem;
    padding-bottom: 7rem;
}

/* heading and logo */

#header {
    background: #537188;
    height: 10rem;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    border-bottom: solid 5px #CBB279;
}

#logo {
    width: 125px;
    height: 125px;
    border-radius: 50%;
    float: left;
    position: absolute;
    left: 50px;
    top: 10px;
}

#header h1 {
    padding-top: 10px;
    color: #CBB279;
    font-family: 'Great Vibes', cursive;
    font-size: 7rem;
    display: inline-block;
}

/* nav links */

nav {
    float: right;
    position: absolute;
    bottom: 10px;
    right: 0;
}

#menu li {
    float: right;
    list-style-type: none;
    margin-right: 20px;
}

#menu a {
    text-decoration: none;
    color: #CBB279;
}

#menu a:hover {
    color: #E1D4BB;
}

.active {
    border-bottom: 1px solid #CBB279;
    font-weight: bold;
}

/* about section */

.about {
    width: 60%;
    margin: 0 auto;
    padding: 3%;
}

.about h2 {
    text-decoration-line: underline;
    text-decoration-color: #CBB279;
}

span>h2 {
    font-size: 2rem;
    text-decoration: underline;
    text-decoration-color: #CBB279;
}

span>p {
    padding: 5%;
}

#right-image {
    height: 40%;
    width: 40%;
    border-radius: 5%;
    display: inline-block;
    text-align: right;
}

#left-text {
    width: 40%;
    float: left;
    padding: 0 5%;
    text-align: left;
}

#left-text h2 {
    font-size: 150%;
    line-height: 3;
}

#left-text p {
    padding: 0 0 50px 20px;
}

#left-image {
    height: 40%;
    width: 40%;
    border-radius: 5%;
    display: inline-block;
    text-align: left;
}

#right-text {
    width: 40%;
    float: right;
    padding: 0 5%;
    text-align: right;
}

#right-text h2 {
    font-size: 150%;
    line-height: 3;
}

#right-text p {
    padding: 0 0 50px 20px;
}

/* footer and social links*/

#footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 7rem;
    background: #537188;
    border-top: solid 5px #CBB279;
}

#footer li {
    display: inline;
}

#footer i {
    margin: 3rem;
    color: #CBB279;
}

#footer i:hover {
    color: #E1D4BB;
}

/* gallery */

#pictures {
    clear: both;
    line-height: 0;
    column-count: 3;
    column-gap: 0;
}

#pictures img {
    width: 100%;
}

/* form */

.signup-form {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.signup-form h2 {
    font-size: 200%;
    padding-bottom: 1rem;
}

.text-input {
    background: transparent;
    color: #537188;
    border: 1px solid #CBB279;
    width: 100%;
    margin-bottom: 1rem;
    padding: 0.5rem;
}

.text-input:hover {
    border-color: #537188;
}

.join-button {
    margin-top: 1rem;
    border-radius: 5px;
    text-align: center;
    font-size: 100%;
    background-color: #CBB279;
    border: 1px solid #537188;
    color: #537188;
    padding: 0.5rem;
}

.join-button:hover {
    background-color: #E1D4BB;
    color: #537188;
}

/* application successful */

.application {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.application h1 {
    font-size: 200%;
    padding-bottom: 1rem;
}

/* responsive elements */